{% extends "layout.html" %}

{% block body %}
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.integral_view', dimension='2D') }}">Integration</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.derivative_view') }}">Differentiation</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.lim_view') }}">Limits</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.matrix_view') }}">Matrix</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.matrix_2_view') }}">Matrix Operations</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.equation_view') }}">Equation</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.equations_view', number=1) }}">Systems of Equations</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.diff_equation_view') }}">Differential Equation</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.Expand_view') }}">Expansion</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.factorization_view') }}">Factorization</a>
</div>
<br>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="{{ url_for('Math.index_view') }}"><<</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_view') }}">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_2_view') }}">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_3_view') }}">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_2_view') }}">>></a>
    </li>
  </ul>
</nav>
{% endblock %}
