{% extends "layout.html" %}

{% block body %}
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.prime_factorization_view') }}">Prime Factorization</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.max_min_view') }}">Maxima and Minima</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.base_conversion_view') }}">Base Conversion</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.Apart_view') }}">Partial Fraction Decomposition</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.taylor_view') }}">Taylor Series Expansion</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.newton_method_view') }}">Newton's Method</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.Sieve_of_Eratosthenes_view') }}">Sieve of Eratosthenes</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.Euclidean_Algorithm_view') }}">Euclidean Algorithm</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.graph_view') }}">Graph</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('Math.Factorial_view') }}">Factorial</a>
</div>
<br>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_view') }}"><<</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_view') }}">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_2_view') }}">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_3_view') }}">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('Math.index_3_view') }}">>></a>
    </li>
  </ul>
</nav>

{% endblock %}
