<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="static_math/images/icon.png">
  <link rel="apple-touch-icon" href="static_math/images/icon.png">
  <title>Flask Math</title>
  <!-- Import Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/mplus1p.css">
  <link rel="stylesheet" href="static_math/css/style.css">
  <!-- Include MathJax -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <!-- Dark mode CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/toggle-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/toggle-bootstrap-dark.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/toggle-bootstrap-print.min.css" />
  <script src="static_math/js/darkmode.js"></script>
  {% block SCRIPT %}

  {% endblock %}
</head>

<body id="target" class="bootstrap-dark">
  <div class="wrapper">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="{{ url_for('Math.index_view') }}">Flask Math</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <div class="collapse navbar-collapse" id="navbarNav">
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="columns: 2">
              <a class="dropdown-item" href="{{ url_for('main.index_view') }}">Home Page</a>
              <a class="dropdown-item" href="{{ url_for('Math.integral_view', dimension='2D') }}">Integration</a>
              <a class="dropdown-item" href="{{ url_for('Math.derivative_view') }}">Differentiation</a>
              <a class="dropdown-item" href="{{ url_for('Math.lim_view') }}">Limits</a>
              <a class="dropdown-item" href="{{ url_for('Math.matrix_view') }}">Matrix</a>
              <a class="dropdown-item" href="{{ url_for('Math.matrix_2_view') }}">Matrix Operations</a>
              <a class="dropdown-item" href="{{ url_for('Math.equation_view') }}">Equation</a>
              <a class="dropdown-item" href="{{ url_for('Math.equations_view', number=1) }}">Simultaneous Equations</a>
              <a class="dropdown-item" href="{{ url_for('Math.diff_equation_view') }}">Differential Equations</a>
              <a class="dropdown-item" href="{{ url_for('Math.Expand_view') }}">Expansion</a>
              <a class="dropdown-item" href="{{ url_for('Math.factorization_view') }}">Factorization</a>
              <a class="dropdown-item" href="{{ url_for('Math.prime_factorization_view') }}">Prime Factorization</a>
              <a class="dropdown-item" href="{{ url_for('Math.max_min_view') }}">Maxima & Minima</a>
              <a class="dropdown-item" href="{{ url_for('Math.base_conversion_view') }}">Base Conversion</a>
              <a class="dropdown-item" href="{{ url_for('Math.Apart_view') }}">Partial Fraction Decomposition</a>
              <a class="dropdown-item" href="{{ url_for('Math.taylor_view') }}">Taylor Expansion</a>
              <a class="dropdown-item" href="{{ url_for('Math.newton_method_view') }}">Newton's Method</a>
              <a class="dropdown-item" href="{{ url_for('Math.Sieve_of_Eratosthenes_view') }}">Sieve of Eratosthenes</a>
              <a class="dropdown-item" href="{{ url_for('Math.Euclidean_Algorithm_view') }}">Euclidean Algorithm</a>
              <a class="dropdown-item" href="{{ url_for('Math.graph_view') }}">Graph</a>
              <a class="dropdown-item" href="{{ url_for('Math.Factorial_view') }}">Factorial</a>
              <a class="dropdown-item" href="{{ url_for('Math.bode_view') }}">Bode Plot</a>
              <a class="dropdown-item" href="{{ url_for('Math.nyquist_view') }}">Nyquist Plot</a>
              <a class="dropdown-item" href="{{ url_for('Math.laplace_view', type='lap') }}">Laplace Transform</a>
              <a class="dropdown-item" href="{{ url_for('Math.sysio_view') }}">System Input/Output</a>
              <a class="dropdown-item" href="{{ url_for('Math.latex_view', input_type='python') }}">\(\LaTeX\)</a>
              <a class="dropdown-item" href="{{ url_for('Math.BMI_view') }}">BMI</a>
              <a class="dropdown-item" href="{{ url_for('Math.instructions_view') }}">Input Instructions</a>
            </div>
          </li>
        </div>
      </ul>
    </nav>

    <!-- flash -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <!-- Main Content -->
    <div class="container-fluid">
      <div class="main_text">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      {% block FOOTER %}
      {% endblock %}
      <ul class="footer_ul">
        <a style="display: block;" class="heading" href="{{ url_for('main.index_view') }}"><small>Home Page</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.integral_view', dimension='2D') }}"><small>Integration</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.derivative_view') }}"><small>Differentiation</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.lim_view') }}"><small>Limits</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.matrix_view') }}"><small>Matrix</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.matrix_2_view') }}"><small>Matrix Operations</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.equation_view') }}"><small>Equation</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.equations_view', number=1) }}"><small>Simultaneous Equations</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.diff_equation_view') }}"><small>Differential Equations</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Expand_view') }}"><small>Expansion</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.factorization_view') }}"><small>Factorization</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.prime_factorization_view') }}"><small>Prime Factorization</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.max_min_view') }}"><small>Maxima & Minima</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.base_conversion_view') }}"><small>Base Conversion</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Apart_view') }}"><small>Partial Fraction Decomposition</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.taylor_view') }}"><small>Taylor Expansion</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.newton_method_view') }}"><small>Newton's Method</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Sieve_of_Eratosthenes_view') }}"><small>Sieve of Eratosthenes</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Euclidean_Algorithm_view') }}"><small>Euclidean Algorithm</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.graph_view') }}"><small>Graph</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Factorial_view') }}"><small>Factorial</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.bode_view') }}"><small>Bode Plot</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.nyquist_view') }}"><small>Nyquist Plot</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.laplace_view', type='lap') }}"><small>Laplace Transform</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.sysio_view') }}"><small>System Input/Output</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.latex_view', input_type='python') }}"><small>\(\LaTeX\)</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.BMI_view') }}"><small>BMI</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.instructions_view') }}"><small>Input Instructions</small></a>
      </ul>

      <div class="center">
        <label class="switch">
          <input id="checkbox" type="checkbox" onclick="dataToggle()">
          <span class="slider round"></span>
        </label>
        <p><small>Dark Mode Toggle</small></p>
      </div>
      <div class="center">
        <script type="text/javascript">
          date = new Date();
          thisYear = date.getFullYear();
          document.getElementById("thisYear").innerHTML = thisYear;
        </script>
      </div>

    </footer>

  </div>
</body>

</html>
