{% extends "layout.html" %}

{% block body %}
<h2 class="left">
  {% if type=="s" %}
  <a href="{{url_for('Math.sysio_view',type='s')}}" class="heading">System Input/Output (s-domain)</a>
  {% elif type=="t" %}
  <a href="{{url_for('Math.sysio_view',type='t')}}" class="heading">System Input/Output (Time Domain)</a>
  {% elif type=="m" %}
  <a href="{{url_for('Math.sysio_view',type='m')}}" class="heading">System Input/Output (State-Space Representation)</a>
  {% endif %}
</h2>
<div class="right">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Please select
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{url_for('Math.sysio_view',type='s')}}">s-domain</a>
      <a class="dropdown-item" href="{{url_for('Math.sysio_view',type='t')}}">Time Domain</a>
      <a class="dropdown-item" href="{{url_for('Math.sysio_view',type='m')}}">State-Space Representation</a>
    </div>
  </div>
</div><br><br><br>

{% if type=="m" %}
<h3>State-space representation is under development</h3>
{% endif %}

<form action="{{url_for('Math.sysio_view',type=type)}}" method="post" enctype="multipart/form-data">
  {% if type=="s" %}
  <div class="form-group">
    <label for="InputFormula">Please enter the transfer function</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><small>\(G(s)=\)</small></span>
      </div>
      <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="TransferFunction">
    </div>
  </div>
  <div class="form-group">
    <label for="InputFormula_2">Please enter the input</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><small>\(U(s)=\)</small></span>
      </div>
      <input type="text" name="formula_2" class="form-control" id="InputFormula_2" value="{{formula_2}}" placeholder="InputSignal">
    </div>
  </div>
  {% elif type=="t" %}
  <div class="form-group">
    <label for="InputFormula">Please enter the impulse response</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><small>\(g(t)=\)</small></span>
      </div>
      <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="ImpulseResponse">
    </div>
  </div>
  <div class="form-group">
    <label for="InputFormula_2">Please enter the input</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><small>\(u(t)=\)</small></span>
      </div>
      <input type="text" name="formula_2" class="form-control" id="InputFormula_2" value="{{formula_2}}" placeholder="InputSignal">
    </div>
  </div>
  {% elif type=="m" %}
  <br><br><br>
  <div style="column-count: 2;">
    <div class="form-group">
      <label for="InputMatrix_A">Please enter matrix A</label>
      <textarea class="form-control" id="InputMatrix_A" name=matrix_A rows="4">{{matrix_A}}</textarea>
    </div>
    <div class="form-group">
      <label for="InputMatrix_C">Please enter matrix C</label>
      <textarea class="form-control" id="InputMatrix_C" name=matrix_C rows="4">{{matrix_C}}</textarea>
    </div>
    <div class="form-group">
      <label for="InputMatrix_B">Please enter matrix B</label>
      <textarea class="form-control" id="InputMatrix_B" name=matrix_B rows="4">{{matrix_B}}</textarea>
    </div>
    <div class="form-group">
      <label for="InputMatrix_D">Please enter matrix D</label>
      <textarea class="form-control" id="InputMatrix_D" name=matrix_D rows="4">{{matrix_D}}</textarea>
    </div>
  </div>
  <div style="column-count: 2;">
    <div class="form-group">
      <label for="InputMatrix_X">Please enter \(x_0\)</label>
      <textarea class="form-control" id="InputMatrix_X" name=matrix_X rows="4">{{matrix_X}}</textarea>
    </div>
    <div class="form-group">
      <label for="InputFormula">Please enter the input</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><small>\(u(t)=\)</small></span>
        </div>
        <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="InputSignal">
      </div>
    </div>
  </div>
  {% endif %}
  <div class="form-group">
    <label for="LowerEnd">Please enter the domain</label>
    <div class="form-row align-items-center">
      <div class="col-6">
        <div class="input-group">
          <input type="text" name="lower_end" class="form-control" id="LowerEnd" value="{{lower_end}}" placeholder="lower_end">
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <input type="text" name="upper_end" class="form-control" value="{{upper_end}}" placeholder="upper_end">
        </div>
      </div>
    </div>
  </div>
  <div class="btn_calc">
    <button type="submit" class="btn btn-primary btn-block">Calculate</button>
  </div>
</form>

{% if type != "m"%}
<div class="accordion" id="accordion_1">
  <div class="card">
    <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
      {% if type == "s" %
